<%- include('header'); -%>

<div class='content'>

    <h1 id="register">REGISTER</h1>

    <form action="/api/register" method="post">

        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="society">Society:</label><br>
        <input type="text" id="society" name="society"><br>

        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address"><br>

        <label for="zipcode">Zipcode:</label><br>
        <input type="number" id="zipcode" name="zipcode"><br>

        <label for="city">City:</label><br>
        <input type="text" id="city" name="city"><br>

        <label for="phone">Phone:</label><br>
        <input type="text" id="phone" name="phone"><br>

        <label for="fax">Fax:</label><br>
        <input type="text" id="fax" name="fax"><br>

        <input type="submit" value="Submit">

    </form>

</div>

<%- include('footer'); -%>